body{
    width: 100%;
    height: 700px;
    
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(59, 140, 153, 0.596), rgba(107, 107, 131, 0.568), rgba(170, 75, 107, 0.548)),url(../assets/img/fondo.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(59, 140, 153, 0.534), rgba(107, 107, 131, 0.562), rgba(170, 75, 107, 0.589)),url(../assets/img/fondo.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;

}